body {
		background-color: lavender;
		font-family: sans-serif;
	}
	table {
		background-color: floralwhite;
	}
	h2 {
		text-transform: capitalize;
	}
	h2 a {
		font-size: 80%;
	}

    /*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

input:focus-visible + label {
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.bundle-container {
    border: 2px solid silver;
    margin-top: 2em;
    padding: 4px;
    box-shadow: silver 4px 4px 8px;
    background: antiquewhite;
}

.bundle-container:first-child {
    margin-top: 0;
}

.humblebundletable thead th:nth-child(1) {
  width: 30%;
}

.humblebundletable thead th:nth-child(2) {
  width: 40%;
}

.fanaticalbundletable thead th:nth-child(1) {
  width: 70%;
}

.fanaticalbundletable td:nth-child(2), 
.fanaticalbundletable td:nth-child(3), 
.humblebundletable td:nth-child(3), 
.humblebundletable td:nth-child(4) {
    width: 15%;
    text-align: right;
}

.ending-soon {
    color: orange;
}

.finished {
    color: red;
}

.infinite {
    
}